{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
 <!--mains start-->
 
 <div class="row mt-5">
                    
    <div class="col-md-4 shadow mt-5 p-4 mx-auto bg-body-tertiary rounded">
    
        <h2 align="center">About us</h2>
        <main>
            <section>
                <h2>Our Story</h2>
                <p>
                    At Your E-Store Name, we are passionate about providing you with the latest trends in mobiles, clothing, and shoes. Our journey began with a simple idea: to create a one-stop destination where fashion meets technology, and style intertwines seamlessly with functionality.
                </p>
            </section>
    
            <section>
                <h2>Our Mission</h2>
                <p>
                    Our mission is to redefine your shopping experience. We curate a diverse selection of products, ensuring that every item reflects our dedication to excellence. Whether you're searching for the latest smartphone, fashion-forward clothing, or comfortable yet stylish shoes, we've got you covered.
                </p>
            </section>
    
            <section>
                <h2>What Sets Us Apart</h2>
                <ul>
                    <li><strong>Quality Assurance:</strong> We believe in offering only the best. Our products undergo rigorous quality checks to ensure they meet the highest standards.</li>
                    <li><strong>Trendsetting Style:</strong> Stay ahead of the curve with our carefully curated collections that embody the latest in fashion and technology.</li>
                    <li><strong>Customer-Centric Approach:</strong> Your satisfaction is our priority. Our customer support team is always ready to assist you, ensuring a seamless shopping experience from start to finish.</li>
                </ul>
            </section>
    
            <section>
                <h2>Ethical and Sustainable Practices</h2>
                <p>
                    Your E-Store Name is committed to making a positive impact. We strive to incorporate ethical and sustainable practices into our business, from sourcing materials responsibly to minimizing our environmental footprint.
                </p>
            </section>
    
            <section>
                <h2>Join Us on Our Journey</h2>
                <p>
                    We invite you to explore our e-store and become part of our community. Thank you for choosing Your E-Store Name as your go-to destination for mobiles, clothing, and shoes. Together, let's redefine the way you shop.
                </p>
            </section>
        </main>
        <h5>This project is developed by Harshada Sandeep Taralekar</h5>
</div>
</div></div>
<!--mains end-->
{% endblock 'main' %}